In [11]:
orders = [["apple", 6], ["mongo", 4], ["orange", 4]]

In [15]:
for each in orders:
    if each[0] == "apple":
        each[1] = 15
    print(orders)

[['apple', 15], ['mongo', 4], ['orange', 4]]
[['apple', 15], ['mongo', 4], ['orange', 4]]
[['apple', 15], ['mongo', 4], ['orange', 4]]

In [19]:
total = []
for item in orders:
    if item[0] == "apple":
        total.append(item[1])
print(total)
print(sum(total))

[15]
15

In [23]:
orders.append(["apple",25])

In [27]:
print(orders)

[['apple', 15], ['mongo', 4], ['orange', 4], ['apple', 25], ['apple', 25]]

In [29]:
total = []
for item in orders:
    if item[0] == "apple":
        total.append(item[1])
print(total)
print(sum(total))

[15, 25, 25]
65

In [43]:
#Tuples
tup1 = (3,4,9,'A',5.2 )
tup2 = "Hello",5,10,20
print(tup1, tup2)
print(type(tup1))
print(type(tup2))

(3, 4, 9, 'A', 5.2) ('Hello', 5, 10, 20)
<class 'tuple'>
<class 'tuple'>

In [49]:
tup1[0:4]

(3, 4, 9, 'A')

In [70]:
tup2 = (10,20,1,10,10,30,10)
tup2.count(20)

1

In [74]:
tup2 = (10,20,1,10,10,30,10)
print(tup2.count(20))
print(tup2.count(10))

1
4

In [77]:
#Create Dictionary
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [81]:
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [83]:
d3 = dict([("x", 1), ("y", 2), ("z", 3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [33]:
scores = {'virat':20,
          'rohit':100,
          'gill':70,
          'rahul':40,
          'hardik':25,
          'jadeja':98,
          'siraj':15 }

In [17]:
scores.get("virat")

20

In [19]:
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [35]:
my_dict.update({"A":14,"B":38})
my_dict

{'A': 14, 'B': 38, 'C': None, 'D': None}

In [27]:
print(scores.keys())
print(scores.values())
print(scores.items())

dict_keys(['virat', 'rohit', 'gill', 'rahul'])
dict_values([20, 100, 70, 40])
dict_items([('virat', 20), ('rohit', 100), ('gill', 70), ('rahul', 40)])

In [37]:
for k in scores.keys():
    if k == 'hardik':
        scores[k] = 19
scores

{'virat': 20,
 'rohit': 100,
 'gill': 70,
 'rahul': 40,
 'hardik': 19,
 'jadeja': 98,
 'siraj': 15}

In [41]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ", sum(scores_list))

[20, 100, 70, 40, 19, 98, 15]
Total Score:  362

In [48]:
total_score = sum(scores.values())
print(total_score)
for k,v in scores.items():
    print(f"Contribution of {k} to total score: {(v/total_score)*100}")

362
Contribution of virat to total score: 5.524861878453039
Contribution of rohit to total score: 27.624309392265197
Contribution of gill to total score: 19.337016574585636
Contribution of rahul to total score: 11.049723756906078
Contribution of hardik to total score: 5.248618784530387
Contribution of jadeja to total score: 27.071823204419886
Contribution of siraj to total score: 4.143646408839778

In [1]:
s1 = {2, 3, 5, 6, 7}
s2 = {5, 6, 7}

In [7]:
s1-s2

{2, 3}

In [9]:
s2-s1

set()

In [17]:
s2.issubset(s1)

True

In [19]:
s1.issubset(s2)

False

In [21]:
s2.issuperset(s1)

False

In [25]:
s1.issuperset(s2)

True

In [34]:
 str1 = "Welcome to aiml class"
 str2 = "We started with python"
 str3 = '''This ia an awesome class'''

In [38]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [40]:
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [42]:
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [58]:
str1.join(str2)

'WWelcome to aiml classeWelcome to aiml class Welcome to aiml classsWelcome to aiml classtWelcome to aiml classaWelcome to aiml classrWelcome to aiml classtWelcome to aiml classeWelcome to aiml classdWelcome to aiml class Welcome to aiml classwWelcome to aiml classiWelcome to aiml classtWelcome to aiml classhWelcome to aiml class Welcome to aiml classpWelcome to aiml classyWelcome to aiml classtWelcome to aiml classhWelcome to aiml classoWelcome to aiml classn'

In [70]:
str4 = "Hello. How are you?"
'  '.join(str4)

'H  e  l  l  o  .     H  o  w     a  r  e     y  o  u  ?'

In [ ]:
str5 = "   Hello, hoe are you?   "

In [76]:
reviews = {
    "Review1" : "The produc quality is excellent and delivery was prompt"
    "Review2" : "Good service but the packaging could have been better"
    "Review3" : "very bad delivery"
}

SyntaxError: invalid syntax (1921189754.py, line 3)

In [ ]:
for key, review in reviewa.items():
    words = review.lower().replace('.', '').replace('.', '').split()
    review_analysis[key] = {