In [1]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [8]:
print("even") if num %2 == 0 else print("odd")

odd

In [10]:
x = 10
result = "Positve" if x > 0 else "Negative"
print(result)

Positve

In [14]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero" )
print(result)

Enter a number:  23

Positive

In [16]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero" )
print(result)

Enter a number:  -7

Negative

In [67]:
L = [1, 9, 2, 10, 56, 89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [69]:
L = [1, 9, 2, 10, 56, 89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [71]:
L = [1, 9, 2, 10, 56, 89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [77]:
sal = [30000,70000,90000,55000]
[(x*1.2 if x <= 50000 else x) for x in sal]

[36000.0, 70000, 90000, 55000]

In [79]:
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [97]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [101]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [113]:
L = {1,2,3,4,5,6,7,8,9,10}
mean_value(L)

5.5

In [115]:
def avg_value(*n):
    l = len(n)
    average = sum(n)/1
    return average

In [121]:
avg_value(10,20,60,100,200)

390.0